# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
run-data
# nothing being generated needs to be on the repo
src/generated

# Files from Forge MDK
forge*changelog.txt
